<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PolicemenInfoMapper">
    <select id="getSinglePolicemenInfo" resultType="org.group05.police.DTO.PolicemenInfoResponse">
        SELECT
        POLICE_NUMBER AS pid,
        POLICE_NAME AS name,
        ID_NUMBER AS idn,
        BIRTHDAY AS birthday,
        GENDER AS gender,
        NATION AS nation,
        PHONE_NUMBER AS phone,
        EMAIL AS email,
        STATUS AS status,
        POSITION AS position
        FROM
        POLICEMEN
        WHERE POLICE_NUMBER = #{policeID}
    </select>
    <select id="getPolicemenInfo" resultType="java.util.Map">
        SELECT
        POLICE_NUMBER AS pid,
        POLICE_NAME AS name,
        ID_NUMBER AS idn,
        BIRTHDAY AS birthday,
        GENDER AS gender,
        NATION AS nation,
        PHONE_NUMBER AS phone,
        EMAIL AS email,
        STATUS AS status,
        POSITION AS position
        FROM
        POLICEMEN
        WHERE
        1 = 1
        <if test="policemenID != null and policemenID != ''">
            AND POLICE_NUMBER LIKE CONCAT('%', '${policemenID}', '%')
        </if>
        <if test="policemenName != null and policemenName != ''">
            AND POLICE_NAME LIKE CONCAT('%', '${policemenName}', '%')
        </if>
        <if test="policemenIDNum != null and policemenIDNum != ''">
            AND ID_NUMBER LIKE CONCAT('%', '${policemenIDNum}', '%')
        </if>
        <if test="policemenYear != null and policemenYear != ''">
            AND BIRTHDAY LIKE CONCAT('%', '${policemenYear}', '%')
        </if>
        <if test="policemenSex != null and policemenSex != ''">
            AND GENDER = LIKE CONCAT('%', '${policemenSex}', '%')
        </if>
        <if test="policemenNation != null and policemenNation != ''">
            AND NATION LIKE CONCAT('%', '${policemenNation}', '%')
        </if>
        <if test="policemenStatus != null and policemenStatus != ''">
            AND STATUS = '${policemenStatus}'
        </if>
        <if test="policemenPosition != null and policemenPosition != ''">
            AND POSITION = '${policemenPosition}'
        </if>
    </select>
    <delete id="deletePolicemen" parameterType="java.lang.String">
        DELETE FROM POLICEMEN WHERE POLICE_NUMBER = #{policemenID}
    </delete>
    <update id="updatePolicemen" parameterType="java.util.Map">
        UPDATE POLICEMEN
        SET POLICE_NAME = #{policemenName},
        ID_NUMBER = #{policemenIDNum},
        BIRTHDAY = #{policemenYear}-#{policemenMonth}-#{policemenDay},
        GENDER = #{policemenSex},
        NATION = #{policemenNation},
        PHONE_NUMBER = #{policemenPhone},
        EMAIL = #{policemenEmail}
        WHERE POLICE_NUMBER = #{policemenID}
    </update>
</mapper>